* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #c3c2c2;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  color: #a0a0a0;
  color: #d23557;
  color: #121212;
}

body {
  width: 100%;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

header {
  width: 100%;
  text-align: left;
}

h1 {
  margin: 20px 0;
  font-size: 28px;
}

.formulario {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #121212;
  height: 600px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 10px #121212;
}

label {
  color: #fff;
  background-color: #121212;
  width: 80%;
}

input {
  border: #d23557 2px solid;
  border-radius: 6px;
  background: #121212;
  color: #fff;
  padding: 10px;
  outline-style: none;
}

.button {
  background-color: #d235575e;
  width: 220px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
} 

.button:hover {
  background-color: #d23557;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}

.buttonHome {
  border: 2px solid #d23557;
  border-radius: 6px;
  height: 54px;
  text-decoration: none;
  width: 220px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttonHome:hover {
  background-color: #d23557;
  color: #c3c2c2;
  transition: .6s;
}

a {
  text-decoration: none;
}

.nav {
  font-size: 18px;
  color: #121212;
  font-weight: 300;
}

.nav:hover {
  font-weight: bold;
}

@media screen and (min-width:494px) {
  .formulario {
    width: 440px;
  }

  input, label, .button {
    font-size: 20px;
  }

  .button {
    width: 300px;
  }
} 